.about-us {
  &__middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9rem;
    max-height: 410px;
  }
  &-info {
    flex-grow: 1;
    margin-right: 3rem;
    .contacts-link_small {
      font-size: 1.8rem;
    }
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
  }
  &__buttons {
    margin-bottom: 5rem;
  }
  &-title {
    margin: 0;
    margin-bottom: 3.5rem;
    padding: 0;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.3rem;
  }
  &-text-1, 
  &-text-2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
  }
  &-text-2 {
    margin-bottom: 3rem;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &-bottom-block {
    text-align: left;
    max-width: 40rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &:not(:last-child) {
      border-right: 3px solid #000000;
      margin-right: 10rem;
      padding-right: 3rem;
    }
  }
  &-block-title {
    display: block;
    font-weight: 600;
    font-size: 2.5rem;

  }
  &-block-text {
    display: block;
    display: block;
    font-weight: 500;
    font-size: 2rem;

  }
}
@media screen and (max-width: 576px) {
  .about-us {
    &-title {
      text-align: center;
    }
    &-image {
      display: none;
    }
    &-info {
      margin-right: 0;
      width: 100%;
    }
    &-text-1,
    &-text-2 {
      text-align: center;
    }
    &__buttons {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
    &__contacts {
      flex-direction: column;
    }
    &__bottom {
      display: none;
    }
  }
  
}
@media screen and (max-width: 320px) {
  .about-us__contacts > a {
    padding-left: unset;
    &::before {
      display: none;
    }
  }
}